@charset "UTF-8";

/*------------------全体-------------------*/
body {
  margin: 0;
  padding: 0;
  color: #48453c;
  font-size: 16px;
  text-size-adjust: 100%;
  background-color: #f9f9f9;
}
div {
  display: flex;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a {
  color: #48453c;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/*----------スマホ：320～540px----------*/
/* ---------------共通--------------- */
/* ヘッダー */
#header {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header-logo {
  width: 110px;
  margin: 30px 0 0 50px;
}
/* ナビ */
.nav {
  position: absolute;
  text-align: center;
  right: -100%;
  top: 70px;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.8);
  z-index: 2;
}
.nav-list li {
  padding: 7px;
  border-bottom: 1px solid #48453c;
}
.nav-list p {
  margin: 0;
}
.nav-ja {
  font-size: 0.6em;
  margin: 0;
}
.nav-en {
  font-size: 0.7em;
  letter-spacing: 0.12em;
  margin: 0;
}
/* ハンバーガーメニュー */
.hamburger-menu {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 15px 50px 0 0;
}
.hamburger-menu span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 5px;
  height: 2px;
  width: 20px;
  background: #48453c;
}
.hamburger-menu span:nth-of-type(1) {
  top: 9px;
}
.hamburger-menu span:nth-of-type(2) {
  top: 15px;
}
.hamburger-menu span:nth-of-type(3) {
  top: 22px;
}
.hamburger-menu span:nth-of-type(3)::after {
  content: "MENU";
  position: absolute;
  color: #48453c;
  white-space: nowrap;
  transform: translate(-15%, 50%);
  font-size: 10px;
}
/* ハンバーガーメニュータップ時の動作 */
#header.active {
  overflow: initial;
}
.nav.active {
  display: block;
  right: 0;
  transition: all 0.4s;
}
.hamburger-menu.active span:nth-of-type(1) {
  top: 10px;
  left: 5px;
  transform: translateY(7px) rotate(-45deg);
}
.hamburger-menu.active span:nth-of-type(2) {
  opacity: 0;
}
.hamburger-menu.active span:nth-of-type(3) {
  left: 5px;
  transform: translateY(-5px) rotate(45deg);
}
.hamburger-menu.active span:nth-of-type(3)::after {
  content: "CLOSE";
  transform: translateY(0) rotate(-45deg);
  top: 7px;
  left: 7px;
}
/* フッター */
/* ナビ部分 */
.footer-nav {
  text-align: center;
  margin: 100px 0;
}
.footer-nav-list {
  background-color: #48453c;
}
.footer-nav-list li {
  border-bottom: 1px solid #fff;
  padding: 3px;
}
.footer-nav-list a {
  color: #fff;
}
/* ロゴとコピーライトの部分 */
.footer-wrapper {
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto 50px;
}
.footer-logo {
  width: 100px;
}
.copyright {
  margin: 0;
  font-size: 0.7rem;
}
/* ページトップリンクボタン */
.page-top {
  height: 40px;
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  background: #2bbbcf;
  border: 0;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-shadow: 7px 2px 5px rgb(0 0 0 / 30%);
  cursor: pointer;
}
.page-top-arrow {
  display: block;
  height: 15px;
  width: 15px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(20%) rotate(-45deg);
}
/* 各セクションタイトル */
.fixed-bg {
  height: 100px;
  margin-top: 30px;
  background-size: cover;
  background-position: center;
}
.top-img {
  background-image: url(../img/hallstatt.jpg);
  position: relative;
}
.second-img {
  background-image: url(../img/spain.jpg);
  position: relative;
}
.third-img {
  background-image: url(../img/fountain.jpg);
  position: relative;
}
.contents-img {
  background-image: url(../img/paris.jpg);
  position: relative;
}
.items-img {
  background-image: url(../img/roma.jpg);
  position: relative;
}
.tags-img {
  background-image: url(../img/library.jpg);
  position: relative;
}
/* 各タイトル */
.title {
  text-align: center;
  font-size: 0.9rem;
}
/* 各テキスト */
.text {
  text-align: center;
  margin: 90px 8%;
  font-size: 0.7rem;
}
/* リンクボタン */
.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  color: #fff;
  background-color: #2bbbcf;
  border: none;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  font-size: 0.8em;
  letter-spacing: 1.2px;
}
.btn a {
  color: #fff;
  font-size: 0.75em;
}

/* ---------------トップページ*------------------ */
/*スライド画像*/
.container {
  position: relative;
}
.slide-img {
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  animation: image-switch-animation 25s infinite;
  border-radius: 30px;
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  margin-bottom: 200px;
}
.src1 {
  background-image: url(../img/paris.jpg);
}
.src2 {
  background-image: url(../img/fountain.jpg);
}
.src3 {
  background-image: url(../img/hallstatt.jpg);
}
.src4 {
  background-image: url(../img/eiffel\ tower.jpg);
}
.src5 {
  background-image: url(../img/prague.jpg);
}
@keyframes image-switch-animation {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.slide-img:nth-of-type(1) {
  animation-delay: 0s;
}
.slide-img:nth-of-type(2) {
  animation-delay: 5s;
}
.slide-img:nth-of-type(3) {
  animation-delay: 10s;
}
.slide-img:nth-of-type(4) {
  animation-delay: 15s;
}
.slide-img:nth-of-type(5) {
  animation-delay: 20s;
}

/* コンセプト */
.concept {
  display: block;
  text-align: center;
  margin: 700px 0 350px;
  padding: 0 8%;
}
.concept-title {
  font-weight: 600;
  margin-bottom: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.concept-title p {
  margin: 0;
}
.concept-text {
  display: block;
  font-size: 0.75rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  margin: 90px 0;
}
/* 記事部分 */
.section-title {
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  filter: drop-shadow(2px 2px 10px #48453c);
  position: absolute;
  top: 10%;
}
.item-wrapper {
  margin: 0 8%;
  font-size: 0.75em;
  background-color: #fff;
}
.item-wrapper li {
  margin: 20px 0;
  padding: 5%;
}
.item-wrapper p {
  margin: 10px 0;
  border-bottom: dotted 1px #48453c;
}
/* 記事タグ一覧 */
.tag-wrapper {
  margin-bottom: 50px;
  border-bottom: solid 1px #48453c;
  font-size: 0.8rem;
  text-align: center;
  background-color: #fff;
}
.tag-wrapper div {
  display: initial;
}
.tag-title {
  background-color: #48453c;
  margin: initial;
  padding: 3px;
  color: #fff;
  font-size: 0.9rem;
}
.tag-list {
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}
/* もっと見るボタン */
.read-more {
  margin: 70px auto;
  justify-content: center;
}
.read-more a {
  font-size: 0.9em;
}

/* ------------------ ABOUTセクション ------------- */
.about-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 120px 8%;
}
.about-wrapper li {
  margin: 50px 0;
  padding: 30px 0;
}
.site-name {
  margin: 10px;
  font-size: 0.85em;
  background: url(../img/00230.png) no-repeat;
  background-size: 150px;
  height: 25px;
  background-position: center;
}
.pink-figure {
  border-radius: 50% 70% 50% 80%;
  background-color: #ffd2d2;
}
.yellow-figure {
  border-radius: 90% 80% 100% 70%;
  background-color: #fff2a8;
}
.yellow-figure p {
  transform: translateY(0%);
}
.blue-figure {
  border-radius: 90% 70% 65% 50%;
  background-color: #d4f3f7;
}
.about-heading {
  margin: 15px 0;
  text-align: center;
  font-size: 0.9em;
}
.about-text {
  margin: 0 auto;
  font-size: 0.7em;
}
.link {
  font-weight: bolder;
  color: #2bbbcf;
  border-bottom: 1px solid #2bbbcf;
}

/* --------------------CONTACTセクション--------------- */
/* メールアドレス */
.address-title {
  margin-bottom: 20px;
}
.address-text {
  display: block;
  color: #2bbbcf;
  font-size: 0.8em;
  width: max-content;
  margin: 0 auto;
}
/* フォーム */
form {
  margin: 0 8% 50px;
  padding: 5% 5% 10px;
  font-size: 0.9em;
  background-color: #fff;
}
#form-container {
  display: block;
}
.form-left,
.form-right {
  flex-direction: column;
}
.form-heading {
  text-align: center;
  margin-top: 100px;
}
.form-title {
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
}
.form-required {
  margin: 0 10px;
  padding: 0 3px;
  background-color: #ffc6c6;
}
textarea {
  height: 12.7rem;
  padding: 5px;
}
.text-field {
  flex: 1;
  padding: 3px;
}
.input-textarea {
  flex-direction: column;
  position: relative;
}
.attention {
  clear: both;
  text-align: center;
  padding-top: 30px;
  color: #f61a1a;
  font-size: 0.9em;
}
.validate-msg {
  color: #fff;
  background-color: #f61a1a;
  width: max-content;
  margin: 0 auto;
  font-size: 0.8rem;
}
.submit-message {
  text-align: center;
}
.submit-btn {
  margin: 35px auto;
}

/* ------------ 個別記事ページ --------------- */
.article-item {
  margin: 50px 8%;
  padding: 5%;
  background-color: #fff;
  font-size: 0.9rem;
}
.item-title {
  font-size: 0.85rem;
  margin: initial;
}
.pagination {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.total-page {
  margin-right: 10px;
}
.page {
  display: contents;
}
.page li {
  margin: 0 5px;
  padding: 3px 5px;
}
.page a,
.current-page {
  color: #fff;
}
.page li a {
  background-color: #2bbbcf;
  padding: 5px;
}
.current-page {
  background-color: #1c7a87;
  padding: 5px;
  color: #fff;
}

/* ------------記事一覧ページ------------ */
.article-contents {
  font-size: 0.7em;
}
.article-title {
  text-align: center;
  color: #fff;
  background-color: #2bbbcf;
  padding: 3px;
  margin: 0;
}
.article-detail {
  display: block;
  font-size: 0.8em;
  margin-top: 10px;
}
.article-detail p {
  margin: 5px;
}
.article-text {
  font-size: 0.8em;
  margin-top: 30px;
}

/* ----------タブレット：768～960px～---------- */
@media screen and (min-width: 768px) {
  /* ----------共通---------- */
  .title {
    font-size: 1.3rem;
  }
  .text {
    font-size: 0.9rem;
  }
  .btn a {
    font-size: unset;
  }
  /* ヘッダー */
  .header-logo {
    margin: 30px 0 0 70px;
    width: 170px;
  }
  .hamburger-menu {
    display: none;
  }
  .nav {
    position: initial;
    margin-top: 30px;
  }
  .nav a {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    transition-property: all;
  }
  .nav-list {
    display: flex;
    justify-content: flex-end;
  }
  .nav-list li {
    margin: 0 20px;
  }
  .nav-list li:last-child {
    margin-right: 70px;
  }
  .nav-ja {
    font-size: 0.7em;
  }
  .nav-en {
    font-size: 0.8em;
  }
  /* スライド画像 */
  .slide-img {
    height: 80vh;
  }
  /* サイトコンセプト */
  .concept {
    margin-top: 800px;
  }
  /* フッター */
  .footer-nav-list {
    display: flex;
    justify-content: center;
  }
  .footer-nav-list li {
    border-bottom: none;
    padding: 8px 15px;
    border-left: 1px solid #fff;
  }
  .footer-nav-list li:first-child {
    border-top: none;
    border-left: 1px solid #fff;
  }
  .footer-nav-list li:last-child {
    border-right: 1px solid #fff;
  }
  .footer-logo {
    width: 150px;
  }
  .copyright {
    font-size: 1em;
  }
  /* セクションタイトル */
  .fixed-bg {
    height: 230px;
    background-attachment: fixed;
  }
  /* リンクボタン */
  btn {
    font-size: 0.8em;
  }

  /* ----------トップページ---------- */
  /* コンセプト */
  .concept-text {
    font-size: 0.9rem;
  }
  /* 記事部分 */
  .section-title {
    font-size: 1.5em;
    top: 30%;
  }
  .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin-left: 8%;
  }
  .item-wrapper li {
    width: 50%;
    line-height: 2;
  }
  .article-detail {
    display: flex;
    gap: 10px;
  }
  /* もっと見るボタン */
  .read-more {
    margin: 80px auto 10%;
    clear: both;
  }
  /* ページトップリンクボタン */
  .page-top {
    width: 50px;
    height: 50px;
    right: 30px;
  }
  /* ----------ABOUTセクション---------- */
  .about-wrapper {
    display: inline-flex;
  }
  .about-wrapper li {
    width: 30%;
  }
  .site-name {
    font-size: 1em;
  }
  .about-text {
    font-size: 0.8em;
  }
  .yellow-figure p {
    transform: translateY(30%);
  }
  /* ----------CONTACTセクション---------- */
  /* メールアドレス */
  .address-text {
    font-size: 1rem;
  }
  /* フォーム */
  form {
    font-size: 1em;
  }
  .text-field {
    height: 35px;
  }
  .form-left {
    float: left;
    width: 48%;
  }
  .form-right {
    float: right;
    width: 50%;
  }
  .validate-msg {
    font-size: 0.9rem;
  }
}

/* ---------PC：960～(1,280px)---------- */
@media screen and (min-width: 960px) {
  /* ----------共通------------- */
  /* ヘッダー */
  #header {
    align-items: flex-end;
  }
  .header-logo {
    margin-left: 150px;
  }
  .header-logo a:hover {
    opacity: 0.7;
  }
  .nav-list li {
    border-bottom: 2px solid #f9f9f9;
  }
  .nav-list li:last-child {
    margin-right: 150px;
  }
  .nav-list li:hover {
    color: #2bbbcf;
    border-bottom: 2px solid #2bbbcf;
  }
  .nav-list li:hover a {
    opacity: initial;
    color: #2bbbcf;
  }
  /* フッター */
  .footer-nav-list li:hover {
    background-color: #2bbbcf;
  }
  .footer-nav-list li:hover a {
    color: #48453c;
  }
  /* ボタン部分 */
  .btn:hover {
    background-color: #228a98;
  }
  .page-top:hover {
    background-color: #228a98;
  }
  /* 各セクションのタイトル */
  .top-img,
  .contents-img,
  .items-img {
    margin-bottom: 50px;
  }

  /* --------記事部分--------- */
  .item-wrapper li a:hover {
    opacity: 0.7;
  }
  .tag-list li a:hover {
    color: #2bbbcf;
  }
  .page li a:hover {
    background-color: #1c7a87;
  }

  /* -------------ABOUTセクション------------- */
  .link:hover,
  .address-text:hover {
    opacity: 0.5;
  }

  /* ---------記事一覧部分---------- */
  /* タグ別一覧ページのアサイドバー */
  .tag-wrapper {
    float: right;
    width: 150px;
    margin: 0 8% 0 30px;
  }
  .tag-list {
    margin: 30px;
  }
  .article-contents {
    font-size: 0.9em;
  }
  .article-title {
    margin-bottom: 50px;
  }
  .item-title {
    font-size: 1.5em;
  }

  /* ----------個別記事ページ------------ */
  .article-item {
    width: 66.5%;
    padding: 3%;
    margin-left: 8%;
  }
  .article-text {
    font-size: 1em;
  }
}
